<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated webmate -->
      <package
            uri="http://eclipse/webmate"
            class="webmate.WebmatePackage"
            genModel="model/webmate.genmodel"/>
   </extension>

</plugin>
